<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tipper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7350ED8D1C20A4A600543772</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7350EDA11C20A4A600543772</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7350EDAC1C20A4A600543772</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
